 
      <div class="row">
    
        <div class="col-md-1 col-sm-1 col-xs-12 empty"></div>
        <div class="col-md-10 col-sm-10 col-xs-12 full top-box">
          
          <h1 class="welcome" style="color:#333333">
          <div class="welcome-text-box">
            <strong>Welcome to <i class="fa fa-usd"></i>TASH.</strong><br />
            <span style="color:#333333"><i class="fa fa-usd"></i>TASH was built on the simple premise that saving money should be fun, and you shouldn’t have to do it alone. It will help track everything you don’t splurge on and then let you know how much you saved!<br /> <strong>Come save with us.</strong></span><br />
             
             <span ng-hide="currentUser" ><a ng-href="/login" id="login" class="btn btn-primary btn-lg"><strong>Let's go!</strong></a></span>
             </div>
          </h1> 

       
        </div>
        <div class="col-md-1 col-sm-1 col-xs-12 empty"></div>
  
      </div> 