 
      <div class="row">
    
        <div class="col-md-1 col-sm-1 col-xs-12 empty"></div>
        <div class="col-md-10 col-sm-10 col-xs-12 full">
          <!-- Icon currently not showing up, need to try and use ng-src when a logo is made -->
          
          <div class="logo"><i class="fa fa-coffee"></i></div>

          <h1 class="welcome" style="color:#333333">
            <strong>Welcome to Coffee Bank.</strong><br />
            <span style="color:#333333">Coffee Bank was built on a simple premise, saving money should be fun and you shouldn’t have to do it alone. Simply create an account, add items that you buy regularly but are not necessities, and then the next time you skip one of those purchases, tap it and give yourself a pat on the back.<br /> Come save with us.</span><br />
             
             <span ng-hide="currentUser" ><a ng-href="/login" id="login" class="btn btn-primary btn-lg">Let's go!</a></span>

            <!--  ng-click="loginForm = true" -->

         </h1> 

         
        </div>
        <div class="col-md-1 col-sm-1 col-xs-12 empty"></div>
  
      </div> 