 
      <div class="row">
    
        <div class="col-md-1 col-sm-1 col-xs-12 empty"></div>
        <div class="col-md-10 col-sm-10 col-xs-12 full">

          <h1 class="welcome" style="color:#333333">
            <strong>Welcome to <i class="fa fa-usd"></i>TASH.</strong><br />
            <span style="color:#333333"><i class="fa fa-usd"></i>TASH was built on a simple premise, saving money should be fun and you shouldn’t have to do it alone.<br /> Come save with us.</span><br />
             
             <span ng-hide="currentUser" ><a ng-href="/login" id="login" class="btn btn-primary btn-lg">Let's go!</a></span>

         </h1> 

         
        </div>
        <div class="col-md-1 col-sm-1 col-xs-12 empty"></div>
  
      </div> 