<!-- Auth Sign Up Section -->

<div class="row">

<form class="form-horizontal auth-form" novalidate name="auth_form">


<h3>Signup:</h3>


  <div class="form-group">
    <label class="col-sm-2 control-label"><strong>Name:</strong></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="newUser.name" name="name" placeholder="first and last name" required>
   
         <!-- Name Error Message -->
  
        <div class="auth-error alert alert-danger" ng-show="auth_form.name.$error.required && auth_form.name.$invalid && auth_form.submitted">Your Name is Required</div>
    
    
    </div>
  </div>
 
  <div class="form-group">
    <label class="col-sm-2 control-label"><strong>Email:</strong></label>
    <div class="col-sm-10">
      <input type="email" class="form-control" ng-model="newUser.email" name="email" placeholder="email" required>
       
       <!-- Email Error Message -->
  
        <div class="auth-error alert alert-danger" ng-show="auth_form.email.$error.required && auth_form.email.$invalid && auth_form.submitted">A email is Required</div>

         <div class="auth-error alert alert-danger" ng-show="authError">Email: {{authError}}</div>

         <div class="auth-error alert alert-danger" ng-show="auth_form.email.$error.email && auth_form.email.$invalid && auth_form.submitted">A valid email is Required</div>

    </div>
  </div>

   <div class="form-group">
    <label class="col-sm-2 control-label"><strong>Picture:</strong></label>
    <div class="col-sm-10">
      <input type="url" class="form-control" ng-model="newUser.picture" name="picture" placeholder="url only please" required>

       <!-- Picture Error Message -->
  
        <div class="auth-error alert alert-danger" ng-show="auth_form.picture.$error.required && auth_form.picture.$invalid && auth_form.submitted">A URL is Required</div>

        <div class="auth-error alert alert-danger" ng-show="auth_form.picture.$error.url && auth_form.picture.$invalid && auth_form.submitted">A valid URL is Required</div>

    </div>
  </div>

   <div class="form-group">
    <label class="col-sm-2 control-label"><strong>Password:</strong></label>
    <div class="col-sm-10">
      <input type="password" class="form-control" ng-model="newUser.password" name="password" placeholder="password" required>
   
        <!-- Password Error Message -->

        <div class="alert alert-danger auth-error" ng-show="auth_form.password.$error.required && auth_form.password.$invalid && auth_form.submitted">A password is Required</div>
        

     </div>
  </div>
 
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-click="AddUser()" class="btn btn-info">Signup</button>   
      
      <a href="/login" class="btn btn-info">Already have an account?</a>

       <a href="/resets" class="btn btn-info">Forgot Password?</a> 

      <a href="/" class="btn btn-info">Exit</a>

     <!-- ng-click="loginForm = true; signUpForm = false" -->

    </div>
  </div>
</form>
</div>