/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #login.btn-primary {
  border-radius: 2px;
  background-color: rgba(255,255,255,0.1);
  border: 2px solid #333333;
  height: 50px;
  width: 300px;
  font-size: 20px;
  font-style: bold;
  color: #000;
  padding-top: 10px;
}

#login.btn-primary:hover {
  background-color: #CED9D2;
  border: 2px solid #CED9D2;
  color: #000;
}

 #item {
  border-radius: 2px;
  background-color: rgba(119,147,232,0.6);
/*  background-color: rgba(255,255,255,0.1);*/
  border: 2px solid black;
 /* height: 50px;
  width: 300px;*/
  font-size: 20px;
  font-style: bold;
  color: #FCFDFF;
  padding-top: 8px;
}

#item:hover {
  background-color: #CED9D2;
  border: 2px solid #CED9D2;
  color: #000;
}

.auth-form {

margin-top: 80px;
background: rgba(206, 217, 210, 0.8);
padding-top: 20px;

}

.auth-error {
  padding-top: 4px;
  /*padding-bottom: auto;*/
  width: 400px;
  max-height: 30px; 
  margin-right: auto;
  margin-left: auto;
}

.login-error {
  padding-top: 20px; 
  margin-right: auto;
  margin-left: auto;
}

.avatar {
  width: 30px;
}

.white {
  color: white;
}

.pad {
  padding-top: 16px;
}