/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #login.btn-primary {
  border-radius: 2px;
  background-color: rgba(255,255,255,0.1);
  border: 2px solid #333333;
  height: 50px;
  width: 300px;
  font-size: 20px;
  font-style: bold;
  color: #000;
  padding-top: 10px;
}

#login.btn-primary:hover {
  background-color: #CED9D2;
  border: 2px solid #CED9D2;
  color: #000;
}

 #item {
  border-radius: 2px;
  background-color: rgba(119,147,232,0.6);
/*  background-color: rgba(255,255,255,0.1);*/
  border: 2px solid black;
 /* height: 50px;
  width: 300px;*/
  font-size: 20px;
  font-style: bold;
  color: #FCFDFF;
  padding-top: 8px;
}

#item:hover {
  background-color: #CED9D2;
  border: 2px solid #CED9D2;
  color: #000;
}

.item {
  border: 6px solid #F8F9FF;
  background: rgba(206, 217, 210, 0.8);
  max-height: 400px;
}

.red {
  color: red;
}

#grid li{
  list-style-type: none;
}

.auth-form {

margin-top: 80px;
background: rgba(206, 217, 210, 0.8);
padding-top: 20px;

}

.item-form .price.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.item-form .price.ng-valid.ng-touched {
  background-color: #78FA89;
}

.auth-error {
  padding-top: 4px;
  /*padding-bottom: auto;*/
  width: 400px;
  max-height: 30px; 
  margin-right: auto;
  margin-left: auto;
}

.login-error {
  padding-top: 20px; 
  margin-right: auto;
  margin-left: auto;
}

.avatar {
  width: 30px;
}

.white {
  color: white;
}

.pad {
  padding-top: 16px;
}

/*********** Personal Stats **********/

/***************************************/

.personal_feed {

 border: 8px solid #CED9D2;
 background: rgba(248, 249, 255, 0.8);
 padding: 6px;
}

.personal_feed_item {

border: 4px solid #FFFFFF;
padding: 2px;
margin-bottom: 4px;
}

.head {
  font-size: 20px;
  font-style: bold;
  color: black;
}


/*********** Animations **********/

/***************************************/

/* Works fine with NO animations....*/

/*.repeated_item.ng-enter, 
.repeated_item.ng-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
    -moz-transition: 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
    -ms-transition: 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
    -o-transition: 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
    transition: 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 
 
.repeated_item.ng-leave.repeated_item.ng-leave-active,
.repeated_item.ng-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}
 
.repeated_item.ng-enter.repeated_item.ng-enter-active,  
.repeated_item.ng-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}*/


/*Issues with animations revolving around where the top one animates into
when there are a large number of rows and then how it looks when the item leave 
when a new one is added and we re-set the array*/


.repeated_item.ng-enter, 
/*.repeated_item.ng-move,*/
.repeated_item.ng-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.repeated_item.ng-enter,
/*.repeated_item.ng-move, */
.repeated_item.ng-leave.repeated_item.ng-leave-active {
    -webkit-transform: rotateX(90deg) rotateZ(90deg);
    -moz-transform: rotateX(90deg) rotateZ(90deg);
    -ms-transform: rotateX(90deg) rotateZ(90deg);
    -o-transform: rotateX(90deg) rotateZ(90deg);
    transform: rotateX(90deg) rotateZ(90deg);
    opacity: 0;
    height: 0px;
}        

.repeated_item.ng-enter.repeated_item.ng-enter-active, 
/*.repeated_item.ng-move.repeated_item.ng-move-active, */
.repeated_item.ng-leave {
    -webkit-transform: rotateX(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateZ(0deg);
    -o-transform: rotateX(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateZ(0deg);
    opacity: 1;
    height: 30px;
}

